*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    background: #F5F5F5;
}
main{
    width: 100%;
}
.sidebar{
    background: #FFFFFF;
    height: 92vh;
    width: 200px;
    padding: 30px 50px 30px 24px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;

}
.logo{
    font-size: 30px;
    display: flex;
    padding-bottom: 50px;
}
.logo p{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
padding-left: 16px;
color: #1F2128;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    width: 174px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    color: #5F6165;
    background: #F3F5F8;
    border-radius: 6px;
    transition: all 0.5s;
}
.active{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #5F6165;
    background: #F3F5F8;
    border-radius: 6px;
}
.icon, .link_text{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #5F6165;
}

.botom-section{
    align-items:center;
    position: absolute;
    bottom: 0px;
    /* tittle/14 M */

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #5F6165;
}

.search__box{
    margin: 0px;
    padding: 10px;
    height: 45px;
    background-color: white;
}

input{
    background: #F5F4F6;
    border-radius: 8px;
    border-color: transparent;
    width: 358px;
    padding-left: 38px;
    height: 36px;
    margin-left: 15px;
}

.bs{
    position: absolute;
    margin: 9px;
    margin-left: 25px;
    font-size: 20px;
}

.notification-and-user{
    position: absolute;
    right: 30px;
    top:12px;
}

.user{
    border-radius: 50%;
    margin-left: 20px;
}
.notification{
    position: absolute;
    top: 11px;
    right: 80px;
}

.card{
    width: 232px;
    height: 266px;
    display: inline-block;
    position: relative;
    margin: 20px;
    color: #1F2128;
    background: #FFFFFF;
    border-radius: 14px;
}
.card:hover{
    width: 232px;
    height: 266px;
    display: inline-block;
    position: relative;
    margin: 20px;
    /* primary/purple */
    color: white;
    background: #A162F7;
    border-radius: 14px;
}

.card .icon{
    position: absolute;
    top:3%;
    right: 45%;
}

.card .text{
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-size: 24px;
}

.card .number{
    text-align: center;
    padding-top: 119px;
    padding-right: 14px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    left: 32%;
}

.card .par{
    position: absolute;
    bottom: 10px;
    left: 22%;
}

.barChar{
    margin-left: 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    position: relative;
    height: 350px;
}

.barChar h1{
    font-weight: 700;
font-size: 20px;
line-height: 26px;
margin-left: 20px;
}

.charts,#chartdiv{
    display: inline-block;
    position: relative;
    
}